<html dir="rtl" lang="ar">

<nav  class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
    
      <a class="navbar-brand" href="#" lang="ar" style="color: white;">مساعدة اجتماعية</a>
  
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="css" routerLinkActive="active" routerLink="/home">الصفحة الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class=" css" routerLinkActive="active" routerLink="/form">بطاقة ارشــــــــادات</a>
        </li>
        <li class="nav-item">
          <a class="css" routerLinkActive="active" routerLink="/admin">خاص بلجنة الشؤون الاجتماعية</a>
        </li>
      </ul>
    </div>
  </nav>
  <div >
    <router-outlet></router-outlet>
  </div></html>
 